<div class="jumbotron panel-margin">
    <h1 class="display-4">Administration panel</h1>
    <p class="lead">Please! select one of the document types to add a new record.</p>
    <hr class="my-4">
    <a href="#!/addBook">Book</a><br>
    <a href="#!/addBookChapter">Book Chapter</a><br>
    <a href="#!/addJournal">Journal Article</a><br>
    <a href="#!/addConference">Conference Article</a><br>
    <a href="#!/addPrototype">Prototype</a><br>
    <a href="#!/addSoftware">Software</a><br>
    <a href="#!/addThesis">Thesis</a><br>
    <a href="#!/addAuthor">Author</a><br>
    <hr class="my-1">
    <a href="#!/updateDelete">Update and Delete</a><br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" ng-click="logout()" role="button">Logout</a>
    </p>
</div>
