<div class="panel-margin">
    <h2>Add new Conference Article</h2>
    <hr class="my-4">
      <form>
        
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-6">
            <input name="title" ng-model="conference.Title" class="form-control pull-left" placeholder="Congress / Symposium / Meeting" required/>
          </div>
        </div>

        <div class="form-group row">
          <label for="conference" class="col-sm-2 col-form-label">Conference:</label>
          <div class="col-sm-6">
            <input name="conference" ng-model="conference.Conference" class="form-control pull-left" placeholder="Conference name" required/>
          </div>
        </div>

        <div class="form-group row">
          <label for="pages" class="col-sm-2 col-form-label">Pages:</label>
          <div class="col-sm-6">
            <input name="pages" ng-model="conference.Pages" class="form-control pull-left" placeholder="Article pages [0-9] - [0-9]" required/>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="link" class="col-sm-2 col-form-label">URL:</label>
          <div class="col-sm-6">
            <input name="link" ng-model="conference.Link" class="form-control pull-left" placeholder="Article URL - DOI" required/>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="control-label col-sm-2" for="ambit">Ambit:</label>
          <div class="col-sm-6">
            <select ng-model="conference.Ambit" class="form-control pull-left" name="ambit">
                <option value="International">International</option>
                <option value="National">National</option>
                <option value="Regional">Regional</option>
                <option value="Sin Categoria">Without Category</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="year" class="col-sm-2 col-form-label">Year:</label>
          <div class="col-sm-6">
              <input name="year" ng-model="conference.Year" type="number" min="1900" max="{{currentYear}}" class="form-control pull-left" placeholder="Publication Year" required/>
          </div>
        </div>
          
        <div class="form-group row">
          <label for="SearchAuthor" class="col-sm-2 col-form-label">Authors:</label>
          <div class="col-sm-6">
            <input ng-model="autor" class="form-control pull-left" id="SearchAuthor" type="search" placeholder="Search Author" aria-label="Search">
            <input type='button' class="btn btn-success pull-down pull-left" value='Add author to list' ng-click="addToList()" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="author" class="col-sm-2 col-form-label">Authors List:</label>
          <div class="col-sm-6">
            <ul id='AuthorsList'></ul>
          </div>
        </div>
    
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" ng-click="saveConference()" value="Save"/> 
          </div>
        </div>

        <div class="form-group panel-margin" id="success">
          <div class="alert alert-success">
            <strong>Success!</strong> Data saved!
          </div>  
        </div>
        <div class="form-group panel-margin" id="danger">
          <div class="alert alert-danger">
            <strong>Error!</strong> Something went wrong with the database.
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-6">
            <p class="Advert-text">If you don't see an author. Please, add a new one here!</p>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-primary" href="#!/addAuthor">New Author</a>
          </div>
        </div>
    
      </form>
    </div>